<div fxLayout="row" fxLayoutAlign="center center" class="content background-image">
  <div fxFlex="25">
    
    <div class="welcome-text text-center m-b-sm">
      Bem vindo ao Chronos Time Tracker
    </div>

    <mat-card>
      <mat-card-content>

        <div fxLayout="column">
          <div fxFlex class="text-center">
            <mat-icon class="mat-icon-size-48 text-primary">lock</mat-icon>
          </div>
          <div fxFlex>
            <mat-form-field class="full-width">
              <input matInput placeholder="Username" name="username" required>
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field class="full-width">
              <input matInput type="password" placeholder="Password" name="password" required>
            </mat-form-field>
          </div>
        </div>

        <!-- <form class="example-form">
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Username" name="username" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Password" type="password" name="password" required>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </form> -->

        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>
      <mat-card-actions>
        <button type="button" mat-flat-button (click)="login()" color="primary" class="m-r-sm">Login</button>
        <button type="button" mat-stroked-button color="basic">Registrar-se</button>
      </mat-card-actions>

    </mat-card>
  </div>
</div>