@import "_variables";

.container:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;  
    display: block;
    width: 100%;
    height: 100%;

    background-image: url('~/assets/images/background/london-01.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size:cover;
    // -webkit-filter: blur(1px);
    // -moz-filter: blur(1px);
    // -o-filter: blur(1px);
    // -ms-filter: blur(1px);
    // filter: blur(1px);
}

.welcome-text {
    color: #FFF;
    font-weight: 500;
}