@import "_variables";

.invalid-form-control { 
    label,label.active {
        color: $validation-error;
    }

    input[type=text],  input[type=password],  input[type=email],  input[type=url],  input[type=time],  input[type=date],  input[type=datetime-local],  input[type=tel],  input[type=number],  input[type=search-md],  input[type=search],  textarea.md-textarea {
        color: $validation-error;
        border-bottom: 1px solid $validation-error;
    }
}

.hint-error {
    color: $validation-error;
    font-size: 0.8rem;
    font-style: italic;
}