.full-width {
    width: 100%;
}

footer.page-footer .footer-copyright {
    color: #FFF;
}

.margin-header {
    margin-top: 75px;
}

.padding-header {
    padding-top: 75px;
}

.padding-footer {
    padding-bottom: 75px;
}