<header>
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark blue scrolling-navbar"
        [containerInside]="false">
        <mdb-navbar-brand>
            <div class="logo navbar-brand">
                <i class="fas fa-hourglass"></i> Chronos Time Tracker
            </div>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/app/home']">
                        Home
                    </a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/app/projetos']">
                        Projetos
                    </a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/app/apontamentos']">
                        Apontamentos
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fas fa-user"></i> {{name()}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()">
                        <i class="fas fa-sign-out-alt"></i> sair
                    </a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
</header>