<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-11 col-md-8 col-lg-4 mx-auto">

      <form [formGroup]="registrarForm" #formDir="ngForm" (submit)="onSubmit()">
        <mdb-card>
          <mdb-card-body>

            <mdb-card-title class="text-primary">
              <h4 class="text-center">
                <i class="fas fa-sign-in-alt"></i> Faça seu cadastro abaixo
              </h4>
            </mdb-card-title>

            <app-form-group>
              <div class="md-form">
                <input mdbInput type="text" id="email" class="form-control" formControlName="email" required>
                <label for="email" class="required">Email</label>
                <app-error-hint [refForm]="formDir" [refFormControl]="registrarForm.get('email')"></app-error-hint>
              </div>
            </app-form-group>

            <app-form-group>
              <div class="md-form">
                <input mdbInput type="password" id="password" class="form-control" formControlName="password" required>
                <label for="password" class="required">Senha</label>
                <app-error-hint [refForm]="formDir" [refFormControl]="registrarForm.get('password')"></app-error-hint>
              </div>
            </app-form-group>

          </mdb-card-body>
          <mdb-card-footer>
            <button mdbBtn mdbWavesEffect type="submit" size="sm" color="primary">
              <mdb-icon fas icon="sign-in-alt" class="mr-1"></mdb-icon>Registrar
            </button>
            <button mdbBtn mdbWavesEffect type="button" size="sm" color="primary" outline="true" (click)="onVoltar()">
              Voltar
            </button>
          </mdb-card-footer>
        </mdb-card>
      </form>

    </div>
  </div>
</div>