<div class="container h-100 mt-1">
  <div class="row col-12">
    <h3>Meu querido {{email}},</h3>
  </div>
  <div class="row col">
    <p>
      Notamos que seu e-mail ainda não foi verificado no sistema.
    </p>
    <p>
      Para resolver isso, acabamos de enviar um e-mail de verificação quentinho para sua caixa de e-mail ({{email}}).
    </p>
    <p>
      Neste e-mail constam mais instruções para que você possa concluir a verificação!
    </p>
  </div>
  <div class="row col">
      <a mdbBtn mdbWavesEffect [routerLink]="['/login']" color="primary">Voltar</a>
  </div>
</div>