<header>
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark blue scrolling-navbar"
        [containerInside]="false">
        <mdb-navbar-brand>
            <div class="logo navbar-brand">
                <i class="fas fa-hourglass"></i> Chronos Time Tracker
            </div>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item waves-light active" mdbWavesEffect>
                    <a class="nav-link">
                        Home
                    </a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link">
                        Cadastrar Projeto
                    </a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link">
                        Apontar Horas
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fas fa-user"></i> diego.dona
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fas fa-sign-out-alt"></i> sair
                    </a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
</header>

<div class="container margin-header">
    <router-outlet></router-outlet>
</div>

<footer class="page-footer font-small blue fixed-bottom text-white">
    <div class="footer-copyright text-center py-3">© {{currentDate | date: 'yyyy'}} Copyright: Diego Doná
    </div>
</footer>